<div class="slds-form-element slds-size_1-of-2">
	<label class="slds-form-element__label" for="{{label}}">{{label}}</label>
	<input type="checkbox" ng-model="valuefield" ng-disabled="disabled">
</div>