<div class="slds-form-element slds-size_1-of-2">
	<label class="slds-form-element__label" for="{{label}}">{{label}}</label>
	<select class="slds-select" ng-model="valuefield" ng-disabled="disabled">
			<option ng-repeat="value in picklist" value="{{value.id}}">{{value.name}}</option>
	</select>
</div>