<div ng-controller="AccountAddController" >

  <div style="text-align:center;">
    <a class="slds-button slds-button_neutral" href="#!/" >Cancel</a>
    <button type="button" class="slds-button slds-button_brand" ng-click="addAccount()">Save</button>
  </div>
  <div class="slds-form slds-form_compound" style="margin:5px;">
    
    <fieldset class="slds-form-element">
      <legend class="slds-form-element__label slds-text-title_caps"></legend>
      <div class="slds-form-element__group">
        <div class="slds-form-element__row">
            <field-text label="Name" valuefield="conta.Name" disabled="edit"></field-text>
            <field-text label="Phone" valuefield="conta.Phone" disabled="edit"></field-text>
        </div>
      </div>
    </fieldset>
   
    <fieldset class="slds-form-element">
      <legend class="slds-form-element__label slds-text-title_caps"></legend>
      <div class="slds-form-element__group">
        <div class="slds-form-element__row">
            <field-select label="Type" valuefield="conta.Type" picklist="picklist.type" disabled="edit"></field-select>
            <field-text label="CPF" valuefield="conta.CPF__c" disabled="edit"></field-text>
        </div>
      </div>
    </fieldset>
  </div>

</div>