<div ng-controller="AccountSearchController">
	<div class="slds-form slds-form_stacked">        
		<div class="slds-form-element">
		  <div class="slds-form-element__control">
			<input type="text" ng-blur="GetAccountSearch()" class="slds-input" ng-model="pNomeConta" placeholder="Digite o nome da Conta... + (Tab) ">
		  </div>
		</div>
	</div><br/>
			
	<div ng-init="GetAccounts()" ng-show="contas" >
		<table class="slds-table slds-table_bordered slds-table_cell-buffer">
		  <thead>
			<tr class="slds-text-title_caps">
			  <th scope="col">
				<div class="slds-truncate" title="Account Name">Account Name</div>
			  </th>
			  <th scope="col">
				<div class="slds-truncate" title="Phone Number">Phone Number</div>
			  </th>
			</tr>
		  </thead>
		  <tbody ng-repeat="conta in contas">
			<tr>
			  <th scope="row" data-label="Account Name">
				<div class="slds-truncate"><a href="#!/account/detail/{{conta.Id}}">{{conta.Name}}</a></div>
			  </th>
			  <td data-label="Phone Number">
				<div class="slds-truncate">{{conta.Phone}}</div>
			  </td>
			</tr>
		  </tbody>
		</table>
	</div>
</div>